body {
	font-family: "Century Gothic", Helvetica, Arial, serif;
	color: #23e2f9;
	background-color: #333;
}

#headerNav {
	background-color: #111;
    border-bottom: 5px solid white;
}
#headerNav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#headerNav ul li {
	float: right;
}

#headerNav ul li a {
	display: block;
    color: #23e2f9;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#headerNav ul li a:hover {
	background-color: #666;
	transition: .5s;
}